{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
    <link href={{ url_for('static', filename='profile.css') }} rel="stylesheet">
    <!-- Main Content -->
    <h2 class="mb-4">Username: {{ user.username }}</h2>
    <div class="profile-info">
        <p style="text-align: left;"><strong>Email:</strong> {{ user.email }}</p>
        <table>
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.account_number }}</td>
                    <td>{{ account.account_type }}</td>
                    <td>{{ account.balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
